.grid{
	display: flex;
	flex-wrap: wrap;
	width: 612px;	/*if wanted it could be made smaller 312x312*/
	height: 612px;	/*if wanted it could be made smaller 312x312*/
}
.square{
	height: 200px; /*if wanted it could be made smaller 100x100*/
	width: 200px;	/*if wanted it could be made smaller 100x100*/
	border: solid black 2px;
 }
 
 .mole{
	 width: 200px;
	 height: 200px;
	 background-image: url("./puppy.jpg");
	 background-size: cover;
 }
